* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;

}

.container {
  max-width: 1140px;
  padding: 16px;
  margin: 0 auto;
}



.items {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


.card {
  overflow: hidden;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: auto;
}
.buttonGroup>a, button:nth-last-child(2){
  flex-grow: 1;
}
.btn {
  padding: 9px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border-radius: 6px;
  background-color: #107edc;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .4px;
  transition: all .3s ease-in ;
  cursor: pointer;
  
}
.btn:hover{
  opacity: 0.6;
}


.btn:first-child:nth-last-child(3) {
  flex-basis: 100%;
}

.btnIcon {
  width: 42px;
  height: 42px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  padding: 0;
  color: #fff;
  background-color: #fff;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.btnIcon:hover{
  background-color: #fff;
  border: 1px solid #8a8989;
}

@media (max-width: 768px) {
  .items {
    grid-template-columns: 1fr;
  }
}
@media (hover: hover){
  button:hover{
    background-color: #107edc;
  }
}